h1 {
    color: rgb(169, 91, 241);
    font-family: 'Tilt Warp', cursive;
}

h2 {
    color: rgb(169, 91, 241);
}

h3 {
    color: rgb(54, 6, 99);
    border: 4px;
    background-color: rgb(198, 137, 255);
}

ul {
    list-style-type: none;
}

#caja {
    background-color: aquamarine;
    margin: 2rem;
    padding: 2rem;
    color: blueviolet;
    font-size: 40px;
    text-align: center;
}

ul i { margin: 17px;
    color: black;
    width: 1px;
    height: 1px;
}